<a href="https://colab.research.google.com/github/clementeaf/codingDojo-DS/blob/main/week1/Hipoteca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic maths with python

In [ ]:
# Add
# add two integers togheter
1 + 1

2

In [ ]:
# Division
# integer division
129/2

64.5

In [ ]:
# Exponentiation
# This operatior raises the number to its left to the power of the number to its right
2**4

16

In [ ]:
# Multiplication
2*3

6

In [ ]:
# Rest
## The modul (%) operator returns the remainder of the division of the number to the left by the
## number of the right
20%3

2

In [ ]:
## Operations order
(1 + 4) /2

2.5

In [ ]:
# Diferent result that
1 + 4 / 2

3.0

## Ejercicio de cálculo del pago de la hipoteca

In [6]:
def emi(p, r, n):
    # for one month interest
    r = r/(12*100)
    # for one month period
    n = n*12
    emi = (p*r*pow(1+r,n))/(pow(1+r,n)-1)
    return emi

p = 400000;
r = 3;
n = 30;
emi = emi(p, r, n);
print("Pago mensual de hipoteca a 30 años con un capital de 400000 USD y un 3% TAE",emi)

Monthly EMI is=  1686.4161349178241

In [4]:
# P = principal (amount borrowed)
# r = interest rate / 12
# n = term (number of payments)

# P * (r*(pow(1 + r, n))/(pow(1 + r, n)-1))

p = 400000
r = 3/(12*100)
n = 360

emi = p * ((r*pow((1 + r), n))/(pow((1 + r), n)-1))
print("Pago mensual de hipoteca a 30 años con un capital de 400000 USD y un 3% TAE",emi)

1686.4161349178237

In [8]:
p = 400000
r = 6/(12*100)
n = 360

emi_v2 = p * ((r*pow((1 + r), n))/(pow((1 + r), n)-1))

print("Pago mensual de hipoteca a 30 años con un capital de 400000 USD y un 6% TAE",emi_v2)

Pago mensual de hipoteca a 30 años con un capital de 400000 USD y un 6% TAE 2398.2021006110276