<a href="https://colab.research.google.com/github/clementeaf/codingDojo-DS/blob/main/week2/GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/passenger_modified.csv'
df = pd.read_csv(filename)
df.head()

In [ ]:
# obtain essential information about the data
df.info()

In [ ]:
# find summary stats for each numerical column and round to two decimal places
df.describe().round(2)

## Usar GroupBy con una columna

In [ ]:
# find the mean rating for seat comfort across all passengers
df['Seat comfort'].mean()

In [ ]:
# find the mean rating for seat comfort when passengers are grouped by class
df.groupby('Class')['Seat comfort'].mean()

## Usar GroupBy con m√∫ltiples columnas

In [8]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['Class', 'Gender'])['Seat comfort'].mean()

Class     Gender
Business  Female    3.755691
          Male      3.767463
Eco       Female    3.217490
          Male      3.057182
Eco Plus  Female    3.249682
          Male      3.110547
Name: Seat comfort, dtype: float64