<a href="https://colab.research.google.com/github/clementeaf/codingDojo-DS/blob/main/week2/Renombrar_Eliminar_columnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [ ]:
filename = '/content/drive/My Drive/mortgages.csv'
df = pd.read_csv(filename)

In [5]:
### Renombrar columnas

## Existen dos métodos:
# Sustitución de diccionario: útil si solo se quiere renombrar unas pocas columnas.
# Reemplazo de lista: Requiere una lista completa de nombres

In [ ]:
# Vía diccionario, usando el método de renombramiento:
df = df.rename(columns= {'Starting Balance': 'starting_balance',
                         'Interest Paid': 'interest_paid',
                         'Principal Paid': 'principal_paid'})
df.head()

In [ ]:
# Vía reemplazamiento de lista
# Incluso si se quiere renombrar una columna, se necesita listar el resto de columnas
df.columns = ['month',
              'starting_balance',
              'repayment',
              'interest_paid',
              'principal_paid',
              'new_balance',
              'mortgage_name',
              'interest_rate']
df.head()

In [ ]:
### Eliminación de columnas

In [ ]:
# Método 1:
df = df.drop(columns=['new_balance'])
df.head()

In [9]:
# Método 2:
del df['starting_balance']
df.head()

,month,repayment,interest_paid,principal_paid,mortgage_name,interest_rate
0,1,1686.42,1000.00,686.42,30 Year,0.03
1,2,1686.42,998.28,688.14,30 Year,0.03
2,3,1686.42,996.56,689.86,30 Year,0.03
3,4,1686.42,994.83,691.59,30 Year,0.03
4,5,1686.42,993.10,693.32,30 Year,0.03