<a href="https://colab.research.google.com/github/clementeaf/codingDojo-DS/blob/main/week3/Ejercicio_altura_promedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file = '/content/drive/MyDrive/athleteEventsNoPersonal.csv'
df = pd.read_csv(file)
df

In [ ]:
# Obtener el número de filas
num_filas = df.shape[0]

print("Número de filas:", num_filas)

In [ ]:

# Obtener el número de columnas
num_columnas = df.shape[1]

print("Número de columnas:", num_columnas)

Número de columnas: 12

In [ ]:
# Identificar las columnas con valores nulos
columnas_con_nulos = df.isnull().sum()

# Filtrar las columnas que tienen valores nulos
columnas_con_valores_faltantes = columnas_con_nulos[columnas_con_nulos > 0]

print("Columnas con valores faltantes:")
print(columnas_con_valores_faltantes)

In [ ]:
#¿Cuántas entradas corresponden a la ciudad de Londres?

count_london = df['City'].value_counts()['London']
print("Número de entradas correspondientes a la ciudad de Londres:", count_london)

Número de entradas correspondientes a la ciudad de Londres: 3370

In [ ]:
#¿Cuántos años tiene el atleta más joven en nuestros datos de muestra?  Sugerencia: usar min()
youngest_age = df['Age'].min()
print("Edad del atleta más joven:", youngest_age)

Edad del atleta más joven: 11.0

In [ ]:
# Creen filtros para encontrar:

#a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja)
#    pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?

# Filtrar por deporte y equipo
filtro = (df['Sport'] == 'Tug-Of-War') & (df['Team'] == 'Sweden')

# Contar el número de filas que cumplen con el filtro
num_atletas_suecos_tug_of_war = len(df[filtro])

print("Número de atletas suecos en Tug-Of-War:", num_atletas_suecos_tug_of_war)

Número de atletas suecos en Tug-Of-War: 6

In [ ]:
# b. ¿Cuántas medallas de oro se le entregaron a los atletas que tenían más de 40 años?
# Filtrar por edad y medalla de oro
filtro = (df['Age'] > 40) & (df['Medal'] == 'Gold')

# Contar el número de filas que cumplen con el filtro
num_medallas_oro_mayores_40 = len(df[filtro])

print("Número de medallas de oro para atletas mayores de 40 años:", num_medallas_oro_mayores_40)

Número de medallas de oro para atletas mayores de 40 años: 66

In [ ]:
# 3. Determinen la altura promedio de:

# a. Todas las filas incluidas.

altura_promedio_total = df['Height'].mean()
print("Altura promedio de todas las filas:", altura_promedio_total)

Altura promedio de todas las filas: 175.3811165585956

In [ ]:
# b. Todas las filas incluidas, pero agrupadas por Event (evento).
altura_promedio_por_evento = df.groupby('Event')['Height'].mean()
print("Altura promedio por evento:")
print(altura_promedio_por_evento)

In [ ]:
# c. Bono: Este conjunto de datos contiene muchos atletas más de una vez
#  (si compitieron en varios eventos y/o varios años). Pueden confirmarlo encontrarlo .
#  value_counts en la columna ID.  Para la tarea del bono queremos que obtengan la altura promedio
# de todos los atletas, pero sin incluir algún atleta más de una vez.
# Pista: Aprendimos cómo eliminar duplicados si CADA columna fuera idéntica,
# sin embargo, ahora tenemos que eliminar una fila cada vez que un ID se repite.
# Para hacer eso, pueden usar un subconjunto de sus datos como un argumento en la función drop_duplicates.
# También le pueden decir a Python cuales duplicados mantener usando el argumento keep.

# Eliminar los duplicados basados en la columna "ID" y mantener la primera aparición
df_unique = df.drop_duplicates(subset='ID', keep='first')

# Calcular la altura promedio de todos los atletas únicos
altura_promedio_unicos = df_unique['Height'].mean()
print("Altura promedio de todos los atletas únicos:", altura_promedio_unicos)

Altura promedio de todos los atletas únicos: 176.31818479042698